
@{
    ViewBag.Title = "Buy";
}

<div class="jumbotron">
    <h1>Z premium zyskujesz więcej!</h1>
    <p class="lead">Odkryj wspaniały świat wygody.</p>
</div>
<p>Wszyscy doskonale zdajemy sobie sprawę jak cenny jest nasz czas. Sprawdzanie dziesiątek zadań ręcznie jest bardzo żmudnym procesem. 
    Często zdarza się popełnić błąd podczas sprawdzania, więc czas potrzebny na ocenę prac uczniów tylko się wydłuża. Pozwól wyręczyć się
    z tą żmudną pracą! Twój czas płynie nieubłaganie, szkoda marnować go na sprawdzanie zadań! Niech sprawdzą się same dzięki naszej platformie!</p>
<hr />
<h2 class="text-center">Co zyskujesz z premium?</h2>
<p class="text-center">Przede wszystkim wygodę i więcej czasu dla siebie.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Zniesienie limitów</h2>
        <p>
            Darmowa wersja ograniczona jest do jednej kategorii i jednej podkategorii. Dodatkowo jako nauczyciel możesz utworzyć jedynie trzy zadania w ramach darmowej licencji.
            Przemium znosi wszystkie te ograniczenia i możesz korzystać ze wszystkich funkcji bez przeszkód!
        </p>
    </div>
    <div class="col-md-8">
        <h2>Ciemny motyw!</h2>
        <div class="bg-dark card">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">SQLapp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Strona główna <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Informacje</a>
                        <a class="nav-item nav-link" href="#">Subskrybcja</a>
                    </div>
                </div>
            </nav>
            <div class="jumbotron" style="background-color: black;">
                <h3 class="text-light">Kuszące prawda?</h3>
            </div>
            <div class="container">

                <p class="text-light">
                    Wiemy, że jasny motyw może męczęć wzrok przy dłuższych sesjach przy komputerze. Niestety nauczyciele, sprawdzający komputerowe prace uczniów są na to najbardziej narażeni.
                    Dodatkowo długie przesiadywanie przy komputerze negatywnie wpływa na stan Twoich oczu oraz ogólny stan zdrowia.
                </p>
                <p class="text-light">
                    Jeśli masz więcej pytać daj nam znać!
                </p>
                <div class="form-group bg-dark">
                    <input type="email" class="form-control  bg-dark" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz adres email">
                    <small id="emailHelp" class="form-text text-muted">Spokojnie, nikomu nie udostepnimy Twojego adresu email.</small>
                    <button type="button" class="btn btn-outline-light">Wyślij</button>
                </div>
                <div class="card text-white bg-dark mb-12" >
                    <div class="card-header">Zainteresowany?</div>
                    <div class="card-body">
                        <h5 class="card-title">Oferujemy darmowy 7-dniowy okres próbny!</h5>
                        <p class="card-text">Wypróbuj a sam zobaczysz że nie będziesz już mógł wrócić do jasnego motywu!</p>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

